
<html>

<head><title>Messages</title></head>
<body>
<h1>Message Board</h1>

<form method="TODO" action="TODO">
<table cellspacing="0" cellpadding="2"
<tr>
	<td nowrap>Name:</td>
	<td>
		<input type="text" name="TODO" maxlength="50" size="20">
	</td>
</tr>
<tr>
	<td nowrap>Message:</td>
	<td>
		<input type="text" name="TODO" maxlength="100" size="60">
	</td>
</tr>
</table>
<p><input type="submit" value="Post Message"></p>

</form>

<p>This request was handled by thread qtp1044036744-21.</p>

</body>
</html>
